
<div class="ui container">

    <div class="ui top attached segment color">
    <semanticHeader>Enregistrement</semanticHeader>
    </div>
   
 <div class="ui attached segment agrandir">
   
 <form class="ui form agrandir">


    <div class="field">
      <label><b>Adresse Email</b></label>
      <input name="Adresse-Email" type="email" placeholder="joe@schmoe.com">
    </div>


    <div class="field">
      <label><b>Mot de passe</b></label>
      <input name="Password" type="password" placeholder="password">
    </div>


    <div class="field">
        <label><b>Mot de passe (saisir à nouveau)</b></label>
        <input name="Password" type="password" placeholder="password">
    </div>


    <div class="ui form">
        <div class="field">
          <label><b>Identifiant TSK</b></label>
          <input type="text">
        </div>
    </div>

    <br>


        
  <div class="ui form">

        <div class="field">
          <label>Organisme affilié</label>
          <select class="ui search dropdown">
            <option value="">001-ADASHI SABONGARI </option>
            <option value="AF">002-ADASHI DOUALA</option>
            <option value="AX">002 ADASHI SOHON GARI</option>
           </select>
        </div>
  </div>

 <br>





  <div class="ui form">
    <div class="field">
      <label><b>Identifiant au sein de l'organisme</b></label>
      <input type="text">
    </div>
  </div>


    
    <br>
    
   
    <button class="positive ui button">Enregistrer</button> 
    <br><br>
    <div><a routerLink="/Connexion">Déja enregistré ? Connectez-vous ici</a></div>
  </form>

</div>

</div>

