<div class="ui container">

    <div class="ui top attached segment color">
    <semanticHeader>Réinitialisation de mot de passe</semanticHeader>
    </div>
   
 <div class="ui attached segment agrandir">
   
<form class="ui form agrandir">
    <br>
    <div class="field">
      <label><b>Adresse Email</b></label>
      <input name="Adresse-Email" type="email" placeholder="joe@schmoe.com">
    </div>
    <div class="field">
      <label><b>Identifiant TSK</b></label>
      <input name="Identifiant TSK" type="text" placeholder="123546897">
    </div>

    <br>
    
   
    <button class="positive ui button">Réinitialiser</button>
    
   
  </form>

</div>

</div>


