
<div class="ui segment">
  <div class="ui secondary menu ">
    <div class="right menu">
   
   <div class="line">
    <a routerLink="/Enregistrement" routerLinkActive="active">
       <a class="item line">
         <i class="user plus icon"></i>
          <span>Enregistrement</span> 
        </a>
    </a>
  </div>
   <div class="line">
        <a routerLink="/Connexion" routerLinkActive="active">
            <a  class="item line" >
              <i class="sign in alternate icon"></i>
                 <span> Connexion </span>
            </a>
        </a>
    </div>
  </div>
  </div>
</div>
<router-outlet></router-outlet>