<div class="ui container">

    <div class="ui top attached segment color">
    <semanticHeader>Connexion</semanticHeader>
    </div>
   
 <div class="ui attached segment agrandir">
   
<form class="ui form agrandir">
    <br>
    <div class="field">
      <label><b>Adresse Email</b></label>
      <input name="Adresse-Email" type="email" placeholder="joe@schmoe.com">
    </div>
    <div class="field">
      <label><b>Mot de passe</b></label>
      <input name="Password" type="password" placeholder="password">
    </div>

    <br>
    
   
    <button class="positive ui button">Connexion</button><a routerLink="/Mot de passe oublié?">Mot de passe oublié?</a>
    
    <br><br>
    <div><a routerLink="/Enregistrement">Pas de compte? Enregistrez vous maintemnt</a></div>
  </form>

</div>

</div>

